<%- include('includes/voters/voter-header') %>
</head>
<body class="text-bg-light">
    <%- include('includes/voters/voter-navbar') %>






    <%- include('includes/voters/voter-footer') %>
</body>
</html>