
<div class="row h-100">
    <!-- Main Sidebar Container -->
<aside class=" sidebar-dark-primary text-bg-dark">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="/admin-dashboard" class="nav-link active ">
  
                <p>
                 Admin's Dashboard
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
            </li>
  
        <li class="nav-item">
          <a href="/add-candidates" class="nav-link">
            <p>
              Add Candidates
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/manage-candidates" class="nav-link">
            <p>
             Manage Candidates
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/manage-voters" class="nav-link">
            <p>
            Manage-voters
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
               
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  </aside>
</div>