
<div class="row">
    <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary text-bg-dark">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item menu-open">
              <a href="/admin-dashboard" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Admin's Dashboard
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
            </li>
  
        <li class="nav-item menu-open">
          <a href="/admin-add-routes" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Add Candidtes
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
  
        <li class="nav-item menu-open">
          <a href="/manage-candidtes" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
             Manage Candidates
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
  
        <li class="nav-item menu-open">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
            Manage-voters
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
               
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  </aside>
</div>