<%- include('../includes/voters/voter-header') %>
</head>
<body class="text-bg-light">
   
<div class="container-fluid">
  <% JSON.stringify(Voters) %>
    <form action="/activate"  method="post">
        
  
          <input type="hidden" class="form-control" value="<%=Voters.email  %>" name="Email">
          
      

        
        <button type="submit" class="btn btn-primary">Activate Account</button>
      </form>
</div>





    <%- include('../includes/voters/voter-footer') %>
</body>
</html>