<%- include('../includes/voter/voter-header') %>
</head>
<body class="text-bg-light">
    <%- include('../includes/voter/voter-navbar') %>






    <%- include('../includes/voter/voter-footer') %>
</body>
</html>